* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.starrezCalendar {
  min-width: 300px;
  display: grid;
  gap: 24px;
  user-select: none;
}

.starrezCalendar table {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}

.starrezCalendar table thead th {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #12374e;
}

.starrezCalendar table tbody td  {
  text-align: center;
}

.starrezCalendar_button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 14px;
  color: #0341e0;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

.starrezCalendar_button.today:after {
  content: " ";
  width: 20px;
  height: 2px;
  position: absolute;
  border-bottom: 2px solid #d22866;
  bottom: 8px;
  left: 10px;
}

.starrezCalendar_button.has-data {
  background: #ebf6ff;
}

.starrezCalendar_button:hover {
  background: #ebf6ff;
}

.starrezCalendar_button.current {
  background: #0052cc;
  color: white;
}

.starrezCalendar_button.previous {
  border: 1px solid #d22866;
}

.starrezCalendar_button:focus {
  outline: none;
  border: 1px solid #0052cc;
}

.starrezCalendar_header {
  display: grid;
  grid-template-columns: 1fr 40px auto 40px;
  align-items: center;
  padding-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #072131;
}

.starrezCalendar_header_button {
  height: 40px;
  min-width: 40px;
  padding: 0 8px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #12374e;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.starrezCalendar_header_button:hover {
  background: #ebf6ff;
}
